{% extends 'committee_template/base_template.html' %}
{% load static %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <head>
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
</head>
      <section class="content" style="background-image: url({% static 'bg9.jpg' %}); background-repeat: no-repeat; height: 610px; background-size: 100%;" >
      <div class="container">
    <div class="row">
    <div class="col-sm-8" style="color:rgb(247, 246, 237);">

      <h1>Functions of the Electoral Commission</h1>

        The Electoral Commission is mandated under Article 61 of the 1995 Constitution of the Republic of Uganda to:
        <body style="font-family:courier; font-size:140%;">
        <ul>
            <li>ensure that regular, free and fair elections and referenda are held;</li>
            <li>organise, conduct and supervise elections and referenda in accordance with the Constitution;</li>
            <li>formulate and implement voter educational programmes related to elections;</li>
            <li>compile, maintain, revise and update the voters’ register;</li>
            <li>hear and determine election complaints arising before and during polling; and</li>
            <li>ascertain, publish and declare in writing under its seal the results of the elections and referenda.</li>
        </ul>

</body>

    </div>
    <div class="col-sm-4" style="color:rgb(58, 22, 22);">
      <img src="static/icon1.png" width="150px" alt=" " align="right">

    </div>

      </div>
      </section>
    <!-- /.content -->
      </html>
{% endblock main_content %}