{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

<div class="brand-link">
      <div class="brand-text font-weight-light">Welcome {{ user.first_name }}!</div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{% url 'committee_profile' %}" class="d-block">My Profile</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'committee_home' as committee_home %}
            <a href="{{ committee_home }}" class="nav-link {% if request.path == committee_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'results' as results %}
         <!-- {% url 'view_candidate' candidate_id=id as view_candidate %}-->
            <a href="{{ results }}" class="nav-link {% if request.path == results %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Results
              </p>
            </a>
          </li>



        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>