{% extends 'voter_template/base_template.html' %}
{% block page_title %}
Manage Candidates
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Candidate Details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Candidate ID</th>
                      <th>Profile Pic</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for candidate in candidates %}
                  <tr>
                    <input type="hidden" name="candidate_id" value="{{ candidate_id }}">
                      <td>{{ candidate.candidate_number }}</td>
                      <td><img src="{{ candidate.profile_pic }}" style="width:100px"/></td>
                       <td><a href="/view_candidate/{{ candidate.id }}" class="btn btn-success">Vote</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}